@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family: 'Inter-Regular', system-ui, sans-serif;
  }
  
  .font-medium {
    font-family: 'Inter-Medium', system-ui, sans-serif;
  }
  
  .font-semibold {
    font-family: 'Inter-Semibold', system-ui, sans-serif;
  }
  
  .font-bold {
    font-family: 'Inter-Bold', system-ui, sans-serif;
  }
}